.optical-image-sizing figure {
  align-items: center;
  aspect-ratio: 1/1;
  border: 0;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: baseline;
}

.optical-image-sizing img {
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transform: scale(var(--optical-image-size));
  transition: opacity 0.2s ease;
  width: 100%;
}
